<div class="navbar">
    <div class="container">
        <div class="items">
        {% if site.nav_links %}
            <ul>
                <li class="menu">
                    <p>Menu</p>
                    <i class="far fa-caret-square-down"></i>
                </li>
            {% for link in site.nav_links %}
                <li class="item"><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <ul>
                <li class="menu">
                    <p>Menu</p>
                    <i class="far fa-caret-square-down"></i>
                </li>
                <li class="item"><a href="{{ "/" | relative_url }}">Home</a></li>
                <li class="item"><a href="{{ "/blog" | relative_url }}">Blog</a></li>
                <li class="item"><a href="{{ "/about" | relative_url }}">About</a></li>
            </ul>
        {% endif %}
        </div>
    </div>
</div>
