<header>
    <div class="container buffer">
        <a id="title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
    </div>
    <div class="navbar">
        <div class="container">
            <div class="items">
            {% if site.nav_links %}
                {% for link in site.nav_links %}
                    <a href="{{ link.url | relative_url }}">{{ link.name }}</a>
                {% endfor %}
            {% else %}
            <a href="/">Home</a>
            <a href="{{ "/blog" | relative_url }}">Blog</a>
            <a href="{{ "/about" | relative_url }}">About</a>
            {% endif %}
            </div>
        </div>
    </div>
</header>

