---
---

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Montserrat&display=swap');
@import 'syntax.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: snow;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

header {
    background-image: linear-gradient(
        darkorchid,
        fuchsia
    );
    padding: 20px 0px 0px 0px;
    .buffer {
        padding: 0px 0px 20px 0px;
    }
    a#title {
        text-align: center;
        color: aqua;
        text-decoration: none;
        h1 {
            font-family: 'Monoton', monospace;
            font-size: 70px;
        }
    }
}

.navbar {
    background: black;
    opacity: 0.75;
    padding: 10px 0px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        display: flex;
    }

    li {
        flex-grow: 1;
        text-align: center;
    }

    .menu {
        display: none;
    }

    a {
        width: 100px;
        color: aqua;
        text-decoration: none;
        font-family: 'Monoton', monospace;
        font-size: 30px;
    }

    input {
        display: none;
    }

    @media (max-width: 700px) {
        ul {
            flex-direction: column;
            display: none;
        }

        li {
            text-align: left;
        }

        .menu {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p, i {
                margin: 0px;
                padding: 0px;
                color: aqua;
                font-size: 30px;
            }

            p {
                font-family: 'Monoton', monospace;
            }
            i {
                transform: rotate(0deg);
                transition: transform 0.4s;
            }
        }

        #show-menu:checked ~ ul {
            display: block;
        }

        #show-menu:checked ~ * i {
            transform: rotate(180deg);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: aqua;
    font-family: 'Audiowide', monospace;
    font-weight: 200;
}

p, code {
    font-size: 16px;
}

pre {
    padding: 10px;
    background-color: black;
}

code.highlighter-rouge {
    background-color: black;
    color: chartreuse;
    padding: 0px 4px 0px 4px;
}

pre.highlight {
    overflow-x: auto;
}

// all things scrollbar

html {
    --scrollbarBG: black;
    --thumbBG: darkslateblue;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

table {
    border-collapse: collapse;
    min-width: 50%;
    max-width: 100%;
}

th, td {
    padding: 10px;
}

th {
    text-align: left;
    background-color: darkslateblue;
}

tr {
    border-bottom: 1px solid darkslateblue;
}

.content {
    background-image: linear-gradient(
        midnightblue,
        black
    );
    flex-grow: 1;
    a {
        text-decoration: none;
        font-weight: bolder;
        color: deeppink;
        &:hover {
            color: chartreuse;
        }
        &:visited {
            color: orangered;
        }
    }
}

.btn {
    padding: 20px;
    margin: 0px 5px;
    border-radius: 25px;
}

#subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: snow;
}


#downloads {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
        background-image: linear-gradient(
            orangered,
            gold
        );
    }
}
